#PostgreSQL
POSTGRES_AUTHENTICATION_DB=CHANGE_ME
POSTGRES_USER_DB=CHANGE_ME
POSTGRES_PRODUCT_DB=CHANGE_ME
POSTGRES_AI_DB=CHANGE_ME
POSTGRES_USER=CHANGE_ME
POSTGRES_PASSWORD=CHANGE_ME

#Mail
MAIL_USERNAME=CHANGE_ME
MAIL_PASSWORD=CHANGE_ME

#JWT
JWT_SECRET=CHANGE_ME

#RabbitMQ
RABBITMQ_USER=CHANGE_ME
RABBITMQ_PASSWORD=CHANGE_ME

#MinIO
MINIO_ROOT_USER=CHANGE_ME
MINIO_ROOT_PASSWORD=CHANGE

#API KEY
OPENAI_API_KEY=CHANGE_ME